/* Add CSS Styling */
.migi,.hidari {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 32px;
    border-color: black;
}

.migi{
    background-color: black;
    color: aliceblue;
}

.hidari{
    background-color: yellow;
}